html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background-image: url('../images/paper.jpg');
  background-size: cover;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  letter-spacing: 0.04;
  color: rgb(75, 5, 5);
}
form {
  margin-top: 25px;
  margin-left: 125px;
}

input {
  margin: 0;
  padding: 5px;
}

.container {
  margin-left: 25%;
}

.js-img {
  margin-top: 30px;
  width: 230px;
  height: auto;
}
